* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: none;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.backgroundImg {
  background: black;
}
a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.react-player {
  height: 75vh !important;
  width: 100% !important;
}
.sidebar {
  height: 90vh;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 0px 5px;
  width: 250px;
  position: relative;
}
.sidebar * {
  transition: all 0.6s ease-in-out !important;
}
/* .search-bar {
  border: none;
  outline: none;
} */

.vidDescription {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
}
.vidDetails {
  font-size: 12px !important;
}
.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  color: white;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  margin-right: 10px;
  border-radius: 0px 99px 99px 0px;
  transition: color 0s;
}

.category-btn:focus {
  background-color: #fc1503 !important;
  color: white !important;
}
.category-btn:hover {
  z-index: 9999;
  translate: 7px 0px;
}
.category-btn:hover span {
  color: white !important;
  transition: color 0.05s !important;
}
.categoryBar {
  flex-direction: column;
}
.logoImg {
  height: 35px;
  padding: 5px 15px;
  border-radius: 999px;
}
.channelBanner {
  height: 200px;
}
#hide,
#show {
  cursor: pointer !important;
}
/* .react-player {
  position: sticky;
  top: 70px;
} */
.videos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.suggestedvideos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.videosMobile {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.videoCard {
  width: 100%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.navbarIconWrapper {
  gap: 16px;
}
.cardImg {
  object-fit: cover;
  height: 180px;
}
@media screen and (max-width: 900px) {
  .cardImg {
    object-fit: cover;
    height: 200px;
  }
  .categoryBar {
    flex-direction: row !important;
  }
  .category-btn {
    justify-content: center;
    cursor: pointer;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    padding: 6px 20px;
    width: auto !important;
    text-wrap: nowrap;
    margin: 4px;
    border-radius: 99px !important;
    outline: 1px solid grey;
    transition: background-color ease-in-out 0.3s ease-in-out;
  }
  .hvr-sweep-to-right,
  .hvr-sweep-to-right:before,
  .hvr-sweep-to-right:hover,
  .hvr-sweep-to-right:focus,
  .hvr-sweep-to-right:active {
    transition: none !important;
    border-radius: 99px !important;
  }
  .logoImg {
    height: 30px;
  }
  .channelBanner {
    height: 120px;
  }
  .channelProfilePic {
    height: 100px !important;
    width: 100px !important;
  }
  .sidebar {
    height: fit-content;
    overflow: scroll;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px !important;
    padding: 0px 5px;
    font-size: 12px;
    width: auto;
  }
  .searchbarBox {
    position: fixed;
    inset: 0px;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    filter: saturate(0.75);
  }
  #searchBarContainer {
    position: fixed;
    top: 100px;
    left: 5% !important;
    right: 5% !important;
  }
  .navbarIconWrapper {
    gap: 0px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  /* .search-bar {
    width: 200px;
  } */
}
.ytp-chrome-controls .ytp-button.ytp-youtube-button,
.ytp-small-mode .ytp-chrome-controls .ytp-button.ytp-youtube-button,
.ytp-embed .ytp-chrome-controls .ytp-button.ytp-youtube-button,
.ytp-embed.ytp-small-mode .ytp-chrome-controls .ytp-button.ytp-youtube-button,
.ytp-dni.ytp-embed .ytp-chrome-controls .ytp-button.ytp-youtube-button,
.ytp-title-enable-channel-logo .ytp-title-channel {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .videos {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1400px) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 650px) {
  .videos {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 1401px) {
  .videos {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Sweep To Right */
.hvr-sweep-to-right {
  border-radius: 0px 99px 99px 0px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-align: left;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fc1503;
  border-radius: 0px 99px 99px 0px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  text-align: left;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
  border-radius: 0px 99px 99px 0px;
  background: #fc1503;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  border-radius: 0px 99px 99px 0px;
  transform: scaleX(1);
}
.sidebar-hidden {
  display: none;
}
.searchbarBox {
  position: fixed;
  inset: 0px;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  filter: saturate(0.75);
  transition: all 0.5s;
}
#searchBarContainer {
  position: fixed;
  top: 150px;
  left: 30%;
  right: 30%;
}
/* Spinner Code */
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: white;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.subScribeBtnContainer {
  position: relative;
}
.subScribeBtn {
  margin-left: 30px;
  display: flex;
  flex-wrap: nowrap;
  pointer-events: all;
  align-items: center;
  cursor: "pointer";
  filter: saturate(1) !important;
  background: red !important;
  color: white !important;
  border-radius: 99px;
  padding: 8px 25px;
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.5s !important;
}
.subScribeBtn:hover {
  opacity: 0.8;
  transform: translate(0px, -5px);
  transform: scale(1.05);
  text-shadow: 0px 0px 10px white;
}
.subScribeBtn:active {
  opacity: 0.5;
  transform: scale(1.1);
}
.subscribePopover {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -355px;
  left: -65px;
  font-weight: 600;
  font-size: 13px;
  visibility: hidden;
  opacity: 0;
  /* visibility: visible;
  opacity: 1; */
  background: black;
  filter: saturate(1) !important;
  color: white;
  border-radius: 20px;
  border: 1px solid rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
  width: 300px;
  /* padding: 20px; */
  word-break: break-all;
  text-align: justify;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.subScribeBtnContainer:hover .subscribePopover {
  visibility: visible;
  opacity: 1;
}
.subscribePopover .channelBanner {
  height: 100px;
}
.subscribePopover .channelDetailsBox {
  margin-top: -30px;
  z-index: 999;
  padding: 10px;
  text-align: justify;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popoverAvatar {
  height: 80px !important;
  width: 80px !important;
}
.subscribePopover .title {
  font-size: 18px;
  line-clamp: 1;
  font-weight: 800;
  margin: 10px 0px;
  text-shadow: 0px 0px 10px white;
}

.subscribePopover .subCount,
.subscribePopover .vidDetails {
  font-size: 14px;
  text-shadow: none;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.subscribePopover .vidDescription {
  color: grey;
  line-height: 18px;
  opacity: 0.7;
  -webkit-line-clamp: 2;
}
.subscribePopover .vidDetails {
  line-height: 18px;
  opacity: 0.7;
  align-items: center;
  font-size: 16px !important;
  margin: 10px 0px;
}
.subscribePopover .customUrl {
  font-size: 12px;
  text-align: center;
  opacity: 0.7;
  /* margin-bottom: 10px; */
  line-clamp: 1;
}
.sidebar .refer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgba(255, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  margin: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  animation: delay1 0.5s ease-in-out, moveUpDown 3s ease-in-out infinite;
  z-index: 999;
}
@keyframes delay1 {
  0%,
  90% {
    opacity: 0;
    translate: 0px 20px;
  }
  100% {
    opacity: 1;
    translate: 0px 0px;
  }
}
@keyframes moveUpDown {
  /* 0%,
  100% {
    translate: 0px 20px;
  } */
  50% {
    transform: scale(1.02);
    translate: 0px 5px;
    background: rgba(255, 0, 0, 0.7);
  }
}
