* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: none;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.react-player {
  height: 75vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  color: white;
  outline: none;
  border: none;
  padding: 7px 25px;
  margin: 10px 0px;
  border-radius: 99px;
  transition: background-color 0.3s ease-in-out;
}

.category-btn:hover,
.category-btn:focus {
  background-color: #fc1503 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}
.categoryBar {
  flex-direction: column;
}
.logoImg {
  height: 35px;
}
.channelBanner {
  height: 200px;
}
/* .react-player {
  position: sticky;
  top: 70px;
} */
@media screen and (max-width: 900px) {
  .categoryBar {
    flex-direction: row !important;
  }
  .category-btn {
    justify-content: center;
    cursor: pointer;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    padding: 6px 20px;
    width: auto !important;
    text-wrap: nowrap;
    margin: 4px;
    border-radius: 99px;
    outline: 1px solid grey;
    transition: background-color 0.3s ease-in-out;
  }
  .logoImg {
    height: 30px;
  }
  .channelBanner {
    height: 120px;
  }
  .channelProfilePic {
    height: 100px !important;
    width: 100px !important;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar {
    width: 200px;
  }
}
.ytp-chrome-controls .ytp-button.ytp-youtube-button,
.ytp-small-mode .ytp-chrome-controls .ytp-button.ytp-youtube-button,
.ytp-embed .ytp-chrome-controls .ytp-button.ytp-youtube-button,
.ytp-embed.ytp-small-mode .ytp-chrome-controls .ytp-button.ytp-youtube-button,
.ytp-dni.ytp-embed .ytp-chrome-controls .ytp-button.ytp-youtube-button,
.ytp-title-enable-channel-logo .ytp-title-channel {
  display: none !important;
}
